@mixin breakpoint($bp) {

    @media screen and (max-width: $bp) {
        @content;
    }

}

@keyframes wipe-in-down {
	from {
		clip-path: inset(0 0 100% 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes wipe-out-up {
	from {
		clip-path: inset(0 0 0 0);
	}
	to {
		clip-path: inset(0 0 100% 0);
	}
}