$primary:   rgba(#0D0D0D, 0.95);
$secondary: #4a4b4d;
$white:     #ffffff;
$black:     #000000;
$grau:      #d2d2d2;
$blue:      #2c3dcf;  //#3137C9;

$border-radius: 10px;
$background-img: url(../images/bg.jpg);
$bd-filter: blur(4px);

$position-block-padding: 1rem;

$z-index-sidebar: 1000;
$z-index-header:  1000;
$z-index-modal:   1010;

$sidebar-width: 250px;

$notebook-bp: 1366px;
$tablet-bp: 991px;
$mobile-bp: 575px;