.header {
    display: flex;

    position: fixed;
    top: $position-block-padding;
    right: $position-block-padding;
    left: calc($sidebar-width + ($position-block-padding * 2));


    backdrop-filter: $bd-filter;
    background-color: $primary;

    border-radius: $border-radius;

    z-index: $z-index-header;

    transition: background-color .2s linear;

    @include breakpoint($tablet-bp) {
        //margin: 0 5px;

        top: 0;
        left: 0;
        right: 0;

        border-radius: 0;


        background-color: $black;
    }
}

.header-black {
    background-color: $black;
}