.nav__list {
    display: flex;
}

.nav__item {
    padding: 1.4rem;

    position: relative;
}

.nav__link {

    &:hover {
        color: $orange;
    }

    &.has-subnav {
        position: relative;

        &:after {
            content: "\e5c5";
            display: inline-block;
            font-family: 'Material Symbols Outlined';
            color: $orange;
            font-size: 2rem;
            vertical-align: bottom;
            line-height: 1;
        }
    }
}
