/* .nav-list {
    display: flex;
}

.nav-item {
    position: relative;

    //transition: all .2s linear;

    &:hover {
        .nav-link {
            background-color: $blue;
        }

        >.subnav {
            //display: block;

            opacity: 1;
            visibility: visible;
            animation: wipe-in-down .2s both;
        }
    }
}

.nav-link {
    display: block;
    padding: 1.3rem;

    border-radius: $border-radius;



    &.has-subnav {
        position: relative;
        padding-right: 3rem;
        border-radius: $border-radius $border-radius 0 0;

        overflow-y: hidden;

        &:after {
            content: "";
            display: block;
            margin-top: 2px;

            border-style: solid;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;

            position: absolute;
            top: 50%;
            right: 1rem;
            transform: translateY(-50%);
        }
    }
} */
