.sidebar {
    width: $sidebar-width;

    border-radius: $border-radius;
    backdrop-filter: $bd-filter;
    background-color: $primary;

    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.8);

    position: fixed;
    top: $position-block-padding;
    left: $position-block-padding;
    bottom: $position-block-padding;

    z-index: 1000;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}