.sidebar {
    width: $sidebar-width;

    background-color: $secondary;

    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8); */

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    z-index: $z-index-sidebar;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}