.social {
    display: flex;
    justify-content: center;

    @include breakpoint($tablet-bp) {
        display: none;
    }
}

.social-item {
    height: .25rem;
    width: .25rem;
    margin: 0 .75rem;
}