.subnav {
    //display: none;

    width: 20rem;

    border-radius: 0 $border-radius $border-radius $border-radius;
    background-color: $blue;

    position: absolute;
    top: 100%;
    left: 0;

    overflow: hidden;

    animation: wipe-out-up .2s both;
	//animation-delay: 5s;

    z-index: $z-index-header;


}

.subnav-link {
    display: block;
    padding: 1rem 1.2rem;

    font-size: 1.4rem;

    //transition: background-color .1s linear;

    &:hover {
        background-color: darken($blue, 5%);
    }
}


@keyframes wipe-in-down {
	from {
		clip-path: inset(0 0 100% 0);
	}
	to {
		clip-path: inset(0 0 0 0);
	}
}

@keyframes wipe-out-up {
	from {
		clip-path: inset(0 0 0 0);
	}
	to {
		clip-path: inset(0 0 100% 0);
	}
}