.subnav {
    display: none;

    width: 20rem;

    border-radius: 0 $border-radius $border-radius $border-radius;
    background-color: $blue;

    position: absolute;
    top: 100%;
    left: 0;

    overflow: hidden;

    animation: identifier .1s linear;

    @keyframes identifier {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

.subnav-link {
    display: block;
    padding: 1rem 1.2rem;

    font-size: 1.4rem;

    transition: background-color .1s linear;

    &:hover {
        background-color: darken($blue, 5%);
    }
}