.subnav {
    //opacity: 0;
    //visibility: hidden;
    //display: none;
    transition: all 0.2s linear;
    transition-delay: 0.15s;


    width: 20rem;

    border-radius: 0 $border-radius $border-radius $border-radius;
    background-color: $blue;

    position: absolute;
    top: 100%;
    left: 0;

    overflow: hidden;

    animation: wipe-out-up .2s both;
	//animation-delay: 5s;

    z-index: $z-index-header;


}

.subnav-link {
    display: block;
    padding: 1rem 1.2rem;

    font-size: 1.4rem;

    //transition: background-color .1s linear;

    &:hover {
        background-color: darken($blue, 5%);
    }
}
