<header class="header" id="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#">Главная</a>
            </li>
            <li class="nav__item">
                <a class="nav__link has-subnav" href="#">Походы</a>

                <ul class="subnav">
                    <li class="subnav__item">
                        <a class="subnav-link" href="#">Фишт</a>
                    </li>
                    <li class="subnav__item">
                        <a class="subnav-link" href="#">Кировский</a>
                    </li>
                    <li class="subnav__item">
                        <a class="subnav-link" href="#">Чёртов палец</a>
                    </li>
                </ul>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Галерея</a>
            </li>
        </ul>
    </nav>
</header>