<header class="header" id="header">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#">Главная</a>
            </li>
            <li class="nav__item">
                <a class="nav__link has-subnav" href="#">Походы</a>

                <div class="subnav">
                    <ul class="subnav__list">
                        <li class="subnav__item">
                            <a class="subnav-link" href="#">Фишт</a>
                        </li>
                        <li class="subnav__item">
                            <a class="subnav-link" href="#">Кировский</a>
                        </li>
                        <li class="subnav__item">
                            <a class="subnav-link" href="#">Чёртов палец</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#">Галерея</a>
            </li>
        </ul>
    </nav>
</header>