<header class="header" id="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link has-subnav" href="#">Походы</a>

                <ul class="subnav">
                    <li>
                        <a class="subnav-link" href="#">Фишт</a>
                    </li>
                    <li>
                        <a class="subnav-link" href="#">Кировский</a>
                    </li>
                    <li>
                        <a class="subnav-link" href="#">Чёртов палец</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Фото</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Фото</a>
            </li>
        </ul>
    </nav>
</header>